.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input {
  width: 100%;
  min-height: 45px;
  color: #333;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: #f0f0f0;
  border-radius: 6px;
  border: 2px solid #e0e0e0;
}

.input::placeholder {
  color: #999;
}

.input:focus::placeholder {
  transition: 0.2s;
  opacity: 0;
}

.input:focus {
  transform: scale(1.01);
  background-color: #e8e8e8;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
  border-color: #d0d0d0;
}
